<div class="main">
  <h1 class="logo"> Chat App  </h1>
  <div class="devise">
    <% if user_signed_in? %>
      <div class="current_username">
        <%= "#{current_user.name}さんログイン中！" %>
      </div>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav_btn %>
    <% else %>
      <%= link_to '新規登録', new_user_registration_path, class: :nav_btn %>
      <%= link_to 'ログイン', new_user_session_path, class: :nav_btn %>
    <% end %>
  </div>
  <div class="chatroom1">
    <%= link_to "Chat Room", new_message_path, class: :chatroom_btn%>
  </div>
  <div class="explanation">
    <%= link_to "Shear Rule", explanations_path, class: :explanation%>
  </div>
</div>

