<div class="contents row">
  <h3>編集</h3>
  <div class="container">
    <%= link_to '戻る', explanation_path(@explanation.id) %>
    <%= form_with(model: @explanation, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "title", class: "hoge1"%>
      <%= form.text_area :text, placeholder: "text", class: "hoge2", size: "60x7"%>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>